button, input[type="button"], a:global(.button) {
  --button-color: var(--accent-color);
  --opacity-enabled: 1;
  --opacity-hover: 0.76;
  --opacity-active: 0.38;
  --opacity-disabled: 0.32;
  font-family: var(--type-body);
  background-color: rgba(var(--button-color), var(--opacity-enabled));
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  text-decoration: none;
  padding: 0 8px;
  display: inline-flex;
  position: relative;
  align-items: baseline;
  justify-content: center;
  box-sizing: border-box;
  height: var(--line-height-body);
  outline: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  color: rgb(var(--text-color));
}

button:hover, input[type="button"]:hover, a:global(.button):hover {
  cursor: pointer;
  background-color: rgba(var(--button-color), var(--opacity-hover));
  transition: background-color 0.5s ease;
}

button:active, input[type="button"]:active, a:global(.button):active {
  outline: none;
  background-color: rgba(var(--button-color), var(--opacity-active));
}

button[disabled], input[type="button"][disabled], a:global(.button):not(:link) {
  outline: none;
  background-color: rgba(var(--button-color), var(--opacity-disabled));
  color: rgba(var(--text-color), 0.38);
}

button:global(.text), input[type="button"]:global(.text), a:global(.button.text) {
  --button-color: 0, 0, 0;
  --opacity-enabled: 0;
  --opacity-hover: 0.12;
  --opacity-disabled: 0;
}
